<div class="add-course mt-4">
    <div class="container">
        <form method="POST" action="/courses/{{course._id}}?_method=PUT">
            <div class="form-group">
                <label for="nameCourse">Cập Nhật Khóa Học:</label>
                <input type="text" value="{{course.name}}" name="name" class="form-control" id="nameCourse" aria-describedby="emailHelp" placeholder="Enter name course">       
            </div>
            <div class="form-group">
                <label for="desCourse">Miêu tả:</label>
                <textarea  name="des" class="form-control" id="desCourse" aria-describedby="emailHelp" placeholder="Enter description course" rows="4">{{course.des}}</textarea>
            </div>
            <div class="form-group">
                <label for="videoId">Video ID:</label>
                <input type="text" name="videoId" value="{{course.videoId}}" class="form-control" id="videoId" aria-describedby="emailHelp" placeholder="Enter video id course">           
            </div>       
            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
    </div>
</div>