<div class="mt-4 container">
    <form> 
        <div class="form-group">
            <label for="exampleInputEmail1">Search</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter something...">
           
        </div>
    
    
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>